.container {
    width: 85%;    
    height: 100%;    
    margin: 6%;    
        padding: 2%;    
    float: left;    
    background-color:     #f7f8f9;
        font-family: 
    Arial, Helvetica, 
    sans-serif;    
    border-radius:     30px;    
    }
    
    .img {    
    width: 10%;    
    height: 100%;    
    float: left;    
    position: relative;    
    }
    
    .bookDescContainer {    
    width: 90%;    
    height: 100%;    
    float: left;    
    position: relative;    
    }
    
    .bookName {    
    float: left;    
    font-weight:     bold;    
    font-family:     "Merriweather", "Georgia",     serif;    
    font-size: 24px;    
    line-height:     1.25;   
    }
    
.bookAuthor{
    
    float: left;
    
    clear: left;
    
    line-height: 
    18px;
    
    font-family: 
    "Lato", "Helvetica Neue", 
    Helvetica, Arial, 
    sans-serif;
    
    text-align: left;
    
    font-size: 12px;
    
    margin-top: 7px
    !important;
    
    margin-bottom: 
    7px !important;
    
    }
    
    .rating {
    
    float: left;
    
    clear: left;
    
    color: #00635d;
    
    font-family: 
    "Lato", "Helvetica Neue", 
    Helvetica, Arial, 
    sans-serif;
    
    font-size: 12px;
    
    margin-top: 7px
    !important;
    
    margin-bottom: 
    7px !important;
    
    
    }
    
    .bookDesc {
    
    float: left;
    
    clear: left;
    
    text-align: left;
    
    line-height: 
    21px;
    
    font-family: 
    "Merriweather", "Georgia", 
    serif;
    
    font-size: 14px;
    
    display: block;
    
    }

    .loader{
        width: 100%;
        height: 100%;
       
    }