
.container {

    margin-top: 4%;
    
    }
    
    .searchBar {
    
    position: fixed;
    
    z-index: 5000;
    
    }
    
    .parentDiv {
    
    width: 100%;
    
    background-color: 
    #f4f4f4;
    
    }